.icon-default {
  display: inline-block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border-radius: 4px;
  font-style: normal;
  color: #999;
  background: #ddd;
}
.page-card {
  .card-header-img {
    .awe-card-header {
      height: 40vw;
      background-size: cover;
      background-position: center;
      color: #fff;
      align-items: flex-end;
    }

    .date {
      color: #8e8e93;
    }
  }
}
.page-grid {
  .awe-row {
    .awe-col {
      padding: 5px 10px;
      margin-bottom: 15px;
      border: 1px solid #ddd;
      text-align: center;
      color: #000;
      background: #fff;
    }
  }

  .awe-box {
    .awe-col {
      color: #000;
      background: #fff;

      .active-state {
        background: #f4f4f4;
      }
    }
  }
}
